.efooterContainer{
    background-color: rgb(225, 164, 91);
    margin-top: 8%;
}
.efooterIcons{
    display: flex;
    justify-content:center;
    padding-top: 2%;
    gap: 2%;   
}
.efooterNav ul{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 2%;
    font-size: 16px;
}
.efooterBottom{
    display: flex;
    padding-top: 0.6%;
    justify-content: center;
    background-color: rgb(234, 135, 14);
    padding-bottom: 0.6%;
    margin-top: 2.7%;
    margin-bottom: 0px;
    font-size: 16px;
}
@media screen and (max-width:769px){
    .efooterContainer {
        margin-top: 32%;
    }
    .efooterNav ul li a {
        font-size: 14px;
    }
    .efooterBottom {
        font-size: 14px;
    }
}
@media screen and (max-width:426px){
    .efooterContainer {
        margin-top: 142%;
    }
}
@media screen and (max-width:376px){
    .efooterContainer {
        margin-top: 855%;
    }
    .efooterNav ul li a {
        font-size: 13px;
    }
    .efooterBottom {
        font-size: 13px;
    }
}
@media screen and (max-width:321px){
    .efooterContainer {
        margin-top: 930%;
    }
    .efooterNav ul li a {
        font-size: 12px;
    }
    .efooterBottom {
        font-size: 12px;
    }
}